DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-long-random-string"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

EMAIL_SERVER=""
EMAIL_FROM=""

ORCID_CLIENT_ID=""
ORCID_CLIENT_SECRET=""
ORCID_REDIRECT_URI="http://localhost:3000/orcid/callback"
ORCID_AUTH_BASE_URL="https://orcid.org"
