DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-long-random-string"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

EMAIL_SERVER=""
EMAIL_FROM=""

NEXT_PUBLIC_ORCID_CLIENT_ID=""
NEXT_PUBLIC_ORCID_REDIRECT_URI="http://localhost:3000/api/oauth/orcid/callback"
