# dependencies
node_modules/

# next.js build output
.next/
out/

# prisma/local db artifacts
prisma/dev.db
prisma/dev.db-journal

# local env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os/editor
.DS_Store
Thumbs.db

# typescript incremental cache
tsconfig.tsbuildinfo
